.titulo1 {
    color: red;
    background-color: black;
}

.titulo2 {
    color: yellow;
    background-color: blue;
}

.titulo3 {
    color: black;
    background-color: blueviolet;
}

.titulo4 {
    color: green;
    background-color: yellow;
}

.titulo5 {
    color: white;
    background-color: violet;
}