body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #132e4c;
    font-family: sans-serif;
}

.imagem a {
    background-color: white;
    padding: 15px;
    border-radius: 20px;
    background-image: linear-gradient(to right, #FDFDFD, #DEDEDE);
    text-decoration: none;
}